@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-sm text-primary-outline-dark;
}

html.dark {
  @apply text-primary-outline-light;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
}
