@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  overflow: hidden;
}

#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
}
